.react-responsive-modal-modal{
  border-radius: 10px !important;
  width: 75%;
 }
.ck-editor__editable{
  min-height: 12rem;
}
.ant-input-number-handler-wrap{
  display: none !important;
}
.picky-date-time__close{
  display: none;
}
@media only screen and (min-width: 575px) {
  .react-responsive-modal-modal{
    width: 55%;
   }
}
@media only screen and (min-width: 768px) {
  .react-responsive-modal-modal{
    width: 35%;
   }
}
@media only screen and (min-width: 1024px) {
  .react-responsive-modal-modal{
    width: 30%;
   }
}
@media only screen and (min-width: 1280px) {
  .react-responsive-modal-modal{
    width: 20%;
   }
}